<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="profileform">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-2">
                        <div class="form-label">First Name</div>
                        <input type="text" class="form-control" formControlName="fname" />
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="form-label">Last Name</div>
                        <input type="text" class="form-control" formControlName="lname" />
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="form-label">Email</div>
                        <input type="text" class="form-control" formControlName="email" />
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="form-label">Phone</div>
                        <input type="text" class="form-control" formControlName="phone" />
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="form-label">...</div>
                        <input type="text" class="form-control"   disable/>
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="form-label">...</div>
                        <input type="text" class="form-control"   disable/>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
 

 

