<nav id="sidebarMenu" >
  <div class="position-fixed pt-3 d-print-none">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="dashboard">
          <span data-feather="home"></span>
          <i class="bi bi-ui-radios-grid  fs-4 text-danger mx-2"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">
          <i class="bi bi-wallet  fs-4 text-primary mx-2"></i>
          Today Spends
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders">
          <i class="bi bi-cart-dash  fs-4 text-info mx-2"></i>
          Shopping
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="loan">
          <i class="bi bi-paypal  fs-4 text-danger mx-2"></i>
         Amount Transition
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report">
          <i class="bi bi-graph-up  fs-4 text-warning mx-2"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">
          <i class="bi bi-person  fs-4 text-success mx-2"></i>
          profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="workingsalary">
          <i class="bi bi-cash  fs-4 text-info mx-2"></i>
          Salary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="bi bi-lock  fs-4 text-danger mx-2"></i>
         Logout
        </a>
      </li>
    </ul>

    
  </div>
</nav>