<app-header></app-header>
<div class="container-fluid">
  <div class="row">
  
  <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <app-sidebar></app-sidebar>
 </div>
 
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 bg-gradient-light">
    
    <router-outlet></router-outlet>
    <footer class=" col-lg-9 text-right ">
      <div class="bg-dark py-2 text-light fixed-bottom mt-5 text-center">Node Angular</div>
    </footer>
  </main>

    <!-- sidebar end -->
    
    
  </div>
 
</div>

