<app-header></app-header>

<div class="container-fluid">

  <div class="row">
  
  <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <app-sidebar></app-sidebar>
 </div>
 
  <main class="col-md-9 ms-sm-auto col-lg-10  mb-5 bg-gradient-light col-sm-12 col-xs-12 mx-xs-auto col-12">
    
    <router-outlet></router-outlet>
    <footer class=" col-lg-9 text-right ">
      <div class="bg-dark py-2 text-light fixed-bottom mt-5 text-center">e-report 2022 to 2023</div>
    </footer>
  </main>

    <!-- sidebar end -->
    
    
  </div>
 
</div>

