<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 border-danger fixed-top shadow">
    <a class="navbar-brand col-md-4 col-sm-12 col-lg-2 me-0 px-3" >E wallet  </a>
    <!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <input class="form-control form-control-dark w-25" type="text" placeholder="Search" aria-label="Search"> -->
    <div class="dropdown  drop-down">
      <img src="../../../../assets/account-profile.png" class="img-fixed" alt="">
      <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {{userName}}
      </a>
    
      <ul class="dropdown-menu  text-left" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" routerLink="profile" > <i class="bi bi-person"></i>  Profile</a></li>
        <li><a class="dropdown-item" routerLink="profile" > <i class="bi bi-gear"></i>  Change Password</a></li>
        <li><a class="dropdown-item" (click)="logout()" > <i class="bi bi-lock text-danger"></i> LogOut</a></li>
        <!-- <li><a class="dropdown-item" (click)="logout()" >LogOut</a></li> -->
      </ul>
      
      <button type="button" class="btn btn-dark position-relative">
        <i class="bi bi-bell text-light"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
    

  </header>
  